.main-navigation-wrapper {
  position: absolute;
  width: $navigation-width;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  transform: translateX($navigation-width);
  z-index: 3;
  background: white;
  transition: transform 200ms ease-in-out;
  transition-delay: 50ms;

  &.slide-in {
    transform: translateX(0);
  }

  .main-navigation {
    width: $navigation-width;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 30px;
    overflow: auto;

    .main-navigation-list {
      font-weight: 800;
      color: $darkblue;
      list-style: none;
      font-size: 1.25rem;
      line-height: 2;
      position: relative;
      top: 50%;
      transform: translateY(-50%);

      a {
        color: $darkblue;
      }

      .sublist {
        font-size: 1rem;
        list-style: none;
      }
    }
  }
}
