.main-navigation-wrapper {
  position: relative;
  z-index: 9;
  float: right;
  height: 100vh;

  .icon {
    position: absolute;
    top: 3rem;
    right: 3rem;
    cursor: pointer;
  }
}

.main-navigation-container {
  position: fixed;
  width: $navigation-width;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  transform: translateX($navigation-width);
  z-index: 3;
  background: white;
  transition: transform 200ms ease-in-out;
  transition-delay: 50ms;

  .icon {
    position: fixed;
    z-index: 9;
    &:before {
      color: $darkblue;
    }
  }

  &.slide-in {
    transform: translateX(0);
  }

  .main-navigation {
    width: $navigation-width;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 3rem;
    overflow: auto;

    .main-navigation-list {
      font-weight: 800;
      color: $darkblue;
      list-style: none;
      font-size: 1.2rem;
      line-height: 2.3;
      position: relative;
      top: 50%;
      transform: translateY(-50%);

      a {
        color: $darkblue;
      }

      .sublist {
        font-size: 1rem;
        margin-left: 1.5rem;
        list-style: none;
      }
    }
  }
}
