@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800&display=swap');

html,
body {
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(45deg, $darkblue, #673ab7);
}

a {
  text-decoration: none;
  color: $darkblue;
}

ul {
  margin: 0;
  padding: 0;
}
