@import './variables';
@import './colors';
@import './util';
@import './grid';
@import './link';

@import './navigation';

.main-wrapper {
  margin: 0 auto;
  max-width: 1600px;
  position: relative;
  z-index: 1;
}

.main-container {
  position: relative;
  margin-left: $navigation-width;
  background: white;
  min-height: 100vh;
}
